.footer {
    background-color: #020617;
    color: var(--text-fade-color);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
@media (min-width: 1024px) {
  .columns {
    width: 90%;
  }
  .footer .copyright{
    width: 90%;
  }
}
.columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
}

@media (max-width:700px) {
    .footer {
        justify-items: start;
    }

    .columns {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .footer .copyright {
        padding: 1rem;
        padding: 1rem;
        margin: 0 2rem;
    }
}

.col {
    display: grid;
    gap: 1rem;
    padding: 0.6rem;
}

.col.about a {
    display: flex;
    gap: 1rem;
}

.col ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer .copyright {
    border-top: 2px solid var(--border-rgba-color);
    display: flex;
    justify-content: center;
    padding: 1rem;
}

