RewriteEngine On
RewriteBase /

# Redirect to public folder if not already there
RewriteCond %{REQUEST_URI} !^/public/

# If file or directory does not exist, redirect to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
